!!! 5
html
  head
    meta(charset='utf-8')
    title ペアプロ合コンのホームページ
    meta(name='author', content='Yu Inao')
    meta(name='rights-standard', content='pd')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='./css/style.css')
  body
    div.container
      div.hero-unit
        h1 ペアプロ合コンのホームページ
      div.row
        div.span12
          div.accordion#accordion2
            div.accordion-group
              div.accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#c1') ペアプロ合コンとは
              div#c1.accordion-body.collapse.in
                div.accordion-inner
                  | ペアプロ合コン - ペアプログラミング合コンとは、ペアプログラミング合同コンパイルではありません。健全な男女がペアプログラミングを通して仲良くなってもらおうということで企画しているものです。決して主催側にやましいことがあるわけではありませんのでご安心ください。しかし、やはりそこは男女のペアになる以上、何かしらの不快深い関係を持つ可能性も否定はできないわけで、決してそのことを非難するわけではなく、やはり主催者としては応援していきたいと思うのです。
                  | 何が言いたいのかと言いますと、結局のところ、こういうページを皆さんで綺麗にかっこ良く作りなおして、更には自分自身も綺麗にかっこ良くなれたらいいよね。なんていうこともあったりなかったりする可能性も一切否定出来ない環境を提供しているのです。
                  | 大事なお約束ですが、みなさん大人ですから、相手の嫌がるようことはしないとおもいますが、そういうことは一切やめてくださいね。こういう場を提供する以上、思った以上に厳しいジャッジを下す場合もあるので、そういうことは二人になってからお願いしますね。
            div.accordion-group
              div.accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#c2') 開催日程
              div#c2.accordion-body.collapse.in
                div.accordion-inner
                  | 2012年 7 月 14 日
            div.accordion-group
              div.accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#c3') お問い合わせ
              div#c3.accordion-body.collapse.in
                div.accordion-inner
                  | 工事中です。
            div.accordion-group
              div.accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#c4') 自己紹介ページ
              div#c4.accordion-body.collapse.in
                div.accordion-inner
                  a(href='http://intro.ppcon.info/') 自己紹介ページはこちら

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', charset='UTF-8')
    script(src='./js/bootstrap.min.js', charset='UTF-8')
    script(src='./js/jquery.easing.1.3.js', charset='UTF-8')
    script(src='./js/demo.js', charset='UTF-8')
